{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_BOOSKIT_CAREER_TITLE') }}</h1>

<form id="acp_booskit_career" method="post" action="{{ U_ACTION }}">

<fieldset>
	<legend>{{ lang('ACP_BOOSKIT_CAREER_SETTINGS') }}</legend>
	<dl>
		<dt><label for="booskit_career_source">{{ lang('BOOSKIT_CAREER_SOURCE') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_CAREER_SOURCE_EXPLAIN') }}</span></dt>
		<dd>
			<label><input type="radio" class="radio" name="booskit_career_source" value="url" {% if BOOSKIT_CAREER_SOURCE == 'url' %}checked="checked"{% endif %} /> {{ lang('BOOSKIT_CAREER_SOURCE_URL') }}</label>
			<label><input type="radio" class="radio" name="booskit_career_source" value="local" {% if BOOSKIT_CAREER_SOURCE == 'local' %}checked="checked"{% endif %} /> {{ lang('BOOSKIT_CAREER_SOURCE_LOCAL') }}</label>
		</dd>
	</dl>

	<div id="booskit_career_url_settings">
		<dl>
			<dt><label for="booskit_career_json_url">{{ lang('BOOSKIT_CAREER_JSON_URL') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_CAREER_JSON_URL_EXPLAIN') }}</span></dt>
			<dd><input type="text" id="booskit_career_json_url" name="booskit_career_json_url" value="{{ BOOSKIT_CAREER_JSON_URL }}" size="50"></dd>
		</dl>
	</div>

	<dl>
		<dt><label for="booskit_career_ruleset">{{ lang('RULES') }}{{ lang('COLON') }}</label><br><span>{{ lang('RULES_EXPLAIN') }}</span></dt>
		<dd>
			<textarea name="booskit_career_ruleset" id="booskit_career_ruleset" rows="10" cols="60" style="width: 95%;">{{ BOOSKIT_CAREER_RULESET }}</textarea>
			<input type="hidden" name="booskit_career_ruleset_uid" value="{{ BOOSKIT_CAREER_RULESET_UID }}" />
			<input type="hidden" name="booskit_career_ruleset_bitfield" value="{{ BOOSKIT_CAREER_RULESET_BITFIELD }}" />
			<input type="hidden" name="booskit_career_ruleset_options" value="{{ BOOSKIT_CAREER_RULESET_OPTIONS }}" />
		</dd>
	</dl>

	<dl>
		<dt><label for="booskit_career_access_view">{{ lang('BOOSKIT_CAREER_ACCESS_VIEW') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_CAREER_ACCESS_VIEW_EXPLAIN') }}</span></dt>
		<dd><input type="text" id="booskit_career_access_view" name="booskit_career_access_view" value="{{ BOOSKIT_CAREER_ACCESS_VIEW }}" size="50"></dd>
	</dl>
	<dl>
		<dt><label for="booskit_career_access_view_global">{{ lang('BOOSKIT_CAREER_ACCESS_VIEW_GLOBAL') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_CAREER_ACCESS_VIEW_GLOBAL_EXPLAIN') }}</span></dt>
		<dd><input type="text" id="booskit_career_access_view_global" name="booskit_career_access_view_global" value="{{ BOOSKIT_CAREER_ACCESS_VIEW_GLOBAL }}" size="50"></dd>
	</dl>
	<dl>
		<dt><label for="booskit_career_access_l1">{{ lang('BOOSKIT_CAREER_ACCESS_L1') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_CAREER_ACCESS_L1_EXPLAIN') }}</span></dt>
		<dd><input type="text" id="booskit_career_access_l1" name="booskit_career_access_l1" value="{{ BOOSKIT_CAREER_ACCESS_L1 }}" size="50"></dd>
	</dl>
	<dl>
		<dt><label for="booskit_career_access_l2">{{ lang('BOOSKIT_CAREER_ACCESS_L2') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_CAREER_ACCESS_L2_EXPLAIN') }}</span></dt>
		<dd><input type="text" id="booskit_career_access_l2" name="booskit_career_access_l2" value="{{ BOOSKIT_CAREER_ACCESS_L2 }}" size="50"></dd>
	</dl>
	<dl>
		<dt><label for="booskit_career_access_l3">{{ lang('BOOSKIT_CAREER_ACCESS_L3') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_CAREER_ACCESS_L3_EXPLAIN') }}</span></dt>
		<dd><input type="text" id="booskit_career_access_l3" name="booskit_career_access_l3" value="{{ BOOSKIT_CAREER_ACCESS_L3 }}" size="50"></dd>
	</dl>
	<dl>
		<dt><label for="booskit_career_access_full">{{ lang('BOOSKIT_CAREER_ACCESS_FULL') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_CAREER_ACCESS_FULL_EXPLAIN') }}</span></dt>
		<dd><input type="text" id="booskit_career_access_full" name="booskit_career_access_full" value="{{ BOOSKIT_CAREER_ACCESS_FULL }}" size="50"></dd>
	</dl>

	<p class="submit-buttons">
		<input class="button1" type="submit" name="submit" value="{{ lang('SUBMIT') }}" />
	</p>
</fieldset>

<div id="booskit_career_local_settings">
	<fieldset>
		<legend>{{ lang('BOOSKIT_CAREER_LOCAL_DEFINITIONS') }}</legend>
		<p>{{ lang('BOOSKIT_CAREER_LOCAL_DEFINITIONS_EXPLAIN') }}</p>

		<table class="table1 zebra-table">
		<thead>
		<tr>
			<th>{{ lang('ID') }}</th>
			<th>{{ lang('NAME') }}</th>
			<th>{{ lang('DESCRIPTION') }}</th>
			<th>{{ lang('ICON') }}</th>
			<th>{{ lang('ACTION') }}</th>
		</tr>
		</thead>
		<tbody>
		{% for def in LOCAL_DEFINITIONS %}
		<tr>
			<td><input type="text" name="id[{{ def.def_id }}]" value="{{ def.career_id }}" /></td>
			<td><input type="text" name="name[{{ def.def_id }}]" value="{{ def.career_name }}" /></td>
			<td><textarea name="desc[{{ def.def_id }}]" rows="2">{{ def.career_desc }}</textarea></td>
			<td><input type="text" name="icon[{{ def.def_id }}]" value="{{ def.career_icon }}" /></td>
			<td>
				<button type="submit" name="submit" class="button2" formaction="{{ U_ACTION }}&amp;action=update_one&amp;def_id={{ def.def_id }}">{{ lang('UPDATE') }}</button>
				<a href="{{ U_ACTION }}&amp;action=delete&amp;def_id={{ def.def_id }}" class="button2">{{ lang('DELETE') }}</a>
			</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ADD') }}</legend>
		<dl>
			<dt>{{ lang('ID') }}</dt>
			<dd><input type="text" name="new_id" placeholder="ID" /></dd>
		</dl>
		<dl>
			<dt>{{ lang('NAME') }}</dt>
			<dd><input type="text" name="new_name" placeholder="Name" /></dd>
		</dl>
		<dl>
			<dt>{{ lang('DESCRIPTION') }}</dt>
			<dd><textarea name="new_desc" rows="2" placeholder="Description"></textarea></dd>
		</dl>
		<dl>
			<dt>{{ lang('ICON') }}</dt>
			<dd><input type="text" name="new_icon" placeholder="fa-icon" /></dd>
		</dl>
		<p class="submit-buttons">
			<input class="button1" type="submit" name="submit" value="{{ lang('ADD') }}" formaction="{{ U_ACTION }}&amp;action=add" />
		</p>
	</fieldset>
</div>

{{ S_FORM_TOKEN }}
</form>

<script>
(function() {
	var urlSettings = document.getElementById('booskit_career_url_settings');
	var localSettings = document.getElementById('booskit_career_local_settings');
	var radios = document.getElementsByName('booskit_career_source');

	function updateVisibility() {
		var selected = '';
		for (var i = 0; i < radios.length; i++) {
			if (radios[i].checked) {
				selected = radios[i].value;
				break;
			}
		}

		if (selected === 'url') {
			urlSettings.style.display = 'block';
			localSettings.style.display = 'none';
		} else {
			urlSettings.style.display = 'none';
			localSettings.style.display = 'block';
		}
	}

	for (var i = 0; i < radios.length; i++) {
		radios[i].addEventListener('change', updateVisibility);
	}
	updateVisibility();
})();
</script>

{% INCLUDE 'overall_footer.html' %}
