<div id="gtaw-login-injection" style="display:none;">
    <a href="{U_GTAW_LOGIN}" class="button gtaw-login-btn" title="{L_LOGIN_WITH_GTAW}" style="margin-right: 5px;">
        <i class="icon fa-gamepad fa-fw" aria-hidden="true"></i><span>{L_LOGIN_WITH_GTAW}</span>
    </a>
</div>

<script>
(function($) {
    'use strict';
    $(function() {
        // --- SECURITY CHECK: ACP ---
        // If we are in the /adm/ directory (Admin Control Panel), do not show the button.
        // OAuth login usually cannot grant Admin Session access anyway.
        if (window.location.href.indexOf('/adm/') > -1) {
            return;
        }

        var $buttonTemplate = $('#gtaw-login-injection').children();

        // --- CASE A: Main Login Page Form (#login) ---
        var $mainLoginForm = $('#login fieldset');
        if ($mainLoginForm.length) {
            // For the main form, we wrap it in DL/DD tags to match the list layout
            var $mainBtn = $buttonTemplate.clone();
            var $wrapper = $('<dl><dt>&nbsp;</dt><dd></dd></dl>');
            $wrapper.find('dd').append($mainBtn);
            
            // Insert before the last row (usually the submit button)
            $wrapper.insertBefore($mainLoginForm.find('dl:last-child'));
        }

        // --- CASE B: Quick Login Hotbar (.quick-login) ---
        var $quickLoginForm = $('fieldset.quick-login');
        if ($quickLoginForm.length) {
            $quickLoginForm.each(function() {
                var $thisForm = $(this);
                // Clone the button for this specific bar
                var $quickBtn = $buttonTemplate.clone();
                
                // Find the existing "Login" submit button
                var $submitBtn = $thisForm.find('input[type="submit"]');
                
                if ($submitBtn.length) {
                    // Insert our GTAW button directly before the standard Login button
                    $quickBtn.insertBefore($submitBtn);
                } else {
                    // Fallback: just append to the end
                    $thisForm.append($quickBtn);
                }
            });
        }
    });
})(jQuery);
</script>