{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_BOOSKIT_AWARDS_TITLE') }}</h1>

<form id="acp_booskit_awards" method="post" action="{{ U_ACTION }}">

<fieldset>
	<legend>{{ lang('ACP_BOOSKIT_AWARDS_SETTINGS') }}</legend>
	<dl>
		<dt><label for="booskit_awards_ruleset">{{ lang('RULES') }}{{ lang('COLON') }}</label><br><span>{{ lang('RULES_EXPLAIN') }}</span></dt>
		<dd>
			<textarea name="booskit_awards_ruleset" id="booskit_awards_ruleset" rows="10" cols="60" style="width: 95%;">{{ BOOSKIT_AWARDS_RULESET }}</textarea>
			<input type="hidden" name="booskit_awards_ruleset_uid" value="{{ BOOSKIT_AWARDS_RULESET_UID }}" />
			<input type="hidden" name="booskit_awards_ruleset_bitfield" value="{{ BOOSKIT_AWARDS_RULESET_BITFIELD }}" />
			<input type="hidden" name="booskit_awards_ruleset_options" value="{{ BOOSKIT_AWARDS_RULESET_OPTIONS }}" />
		</dd>
	</dl>
	<dl>
		<dt><label for="booskit_awards_source">{{ lang('BOOSKIT_AWARDS_SOURCE') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_AWARDS_SOURCE_EXPLAIN') }}</span></dt>
		<dd>
			<label><input type="radio" class="radio" name="booskit_awards_source" value="url" {% if BOOSKIT_AWARDS_SOURCE == 'url' %}checked="checked"{% endif %} /> {{ lang('BOOSKIT_AWARDS_SOURCE_URL') }}</label>
			<label><input type="radio" class="radio" name="booskit_awards_source" value="local" {% if BOOSKIT_AWARDS_SOURCE == 'local' %}checked="checked"{% endif %} /> {{ lang('BOOSKIT_AWARDS_SOURCE_LOCAL') }}</label>
		</dd>
	</dl>

	<div id="booskit_awards_url_settings">
		<dl>
			<dt><label for="booskit_awards_json_url">{{ lang('BOOSKIT_AWARDS_JSON_URL') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_AWARDS_JSON_URL_EXPLAIN') }}</span></dt>
			<dd><input type="text" id="booskit_awards_json_url" name="booskit_awards_json_url" value="{{ BOOSKIT_AWARDS_JSON_URL }}" size="50"></dd>
		</dl>
	</div>

	<dl>
		<dt><label for="booskit_awards_access_l1">{{ lang('BOOSKIT_AWARDS_ACCESS_L1') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_AWARDS_ACCESS_L1_EXPLAIN') }}</span></dt>
		<dd><input type="text" id="booskit_awards_access_l1" name="booskit_awards_access_l1" value="{{ BOOSKIT_AWARDS_ACCESS_L1 }}" size="50"></dd>
	</dl>
	<dl>
		<dt><label for="booskit_awards_access_l2">{{ lang('BOOSKIT_AWARDS_ACCESS_L2') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_AWARDS_ACCESS_L2_EXPLAIN') }}</span></dt>
		<dd><input type="text" id="booskit_awards_access_l2" name="booskit_awards_access_l2" value="{{ BOOSKIT_AWARDS_ACCESS_L2 }}" size="50"></dd>
	</dl>
	<dl>
		<dt><label for="booskit_awards_access_full">{{ lang('BOOSKIT_AWARDS_ACCESS_FULL') }}{{ lang('COLON') }}</label><br><span>{{ lang('BOOSKIT_AWARDS_ACCESS_FULL_EXPLAIN') }}</span></dt>
		<dd><input type="text" id="booskit_awards_access_full" name="booskit_awards_access_full" value="{{ BOOSKIT_AWARDS_ACCESS_FULL }}" size="50"></dd>
	</dl>

	<p class="submit-buttons">
		<input class="button1" type="submit" name="submit_config" value="{{ lang('SUBMIT') }}" />
	</p>
</fieldset>

<div id="booskit_awards_local_settings">
	<fieldset>
		<legend>{{ lang('BOOSKIT_AWARDS_LOCAL_DEFINITIONS') }}</legend>
		<p>{{ lang('BOOSKIT_AWARDS_LOCAL_DEFINITIONS_EXPLAIN') }}</p>

		<table class="table1 zebra-table">
		<thead>
		<tr>
			<th>{{ lang('ID') }}</th>
			<th>{{ lang('NAME') }}</th>
			<th>{{ lang('DESCRIPTION') }}</th>
			<th>{{ lang('IMAGE') }}</th>
			<th>{{ lang('DIMENSIONS') }}</th>
			<th>{{ lang('PUBLIC_POST') }}</th>
			<th>{{ lang('ACTION') }}</th>
		</tr>
		</thead>
		<tbody>
		{% for def in LOCAL_DEFINITIONS %}
		<tr>
			<td><input type="text" name="id[{{ def.def_id }}]" value="{{ def.award_id }}" /></td>
			<td><input type="text" name="name[{{ def.def_id }}]" value="{{ def.award_name }}" /></td>
			<td><textarea name="desc[{{ def.def_id }}]" rows="2">{{ def.award_desc }}</textarea></td>
			<td><input type="text" name="img[{{ def.def_id }}]" value="{{ def.award_img }}" /></td>
			<td>
				W: <input type="text" name="w[{{ def.def_id }}]" value="{{ def.award_w }}" size="5" /><br>
				H: <input type="text" name="h[{{ def.def_id }}]" value="{{ def.award_h }}" size="5" />
			</td>
			<td style="text-align: center;">
				<input type="checkbox" disabled="disabled" {% if def.enable_public_posting %}checked="checked"{% endif %} />
			</td>
			<td>
				<button type="button" class="button2" onclick="toggleSettings({{ def.def_id }});">{{ lang('EDIT') }}</button>
				<button type="submit" name="submit_config" class="button2" formaction="{{ U_ACTION }}&amp;action=update_one&amp;def_id={{ def.def_id }}">{{ lang('UPDATE') }}</button>
				<a href="{{ U_ACTION }}&amp;action=delete&amp;def_id={{ def.def_id }}" class="button2">{{ lang('DELETE') }}</a>
			</td>
		</tr>
		<tr id="settings-{{ def.def_id }}" style="display: none;">
			<td colspan="7">
				<fieldset>
					<legend>{{ lang('PUBLIC_POST_SETTINGS') }}</legend>
					<dl>
						<dt><label>{{ lang('ENABLE_PUBLIC_POSTING') }}</label></dt>
						<dd>
							<label><input type="checkbox" class="radio" name="enable_public_posting[{{ def.def_id }}]" value="1" {% if def.enable_public_posting %}checked="checked"{% endif %} /> {{ lang('YES') }}</label>
						</dd>
					</dl>
					<dl>
						<dt><label>{{ lang('POSTER_ID') }}</label></dt>
						<dd><input type="number" name="public_posting_poster_id[{{ def.def_id }}]" value="{{ def.public_posting_poster_id }}" /></dd>
					</dl>
					<dl>
						<dt><label>{{ lang('FORUM_ID') }}</label></dt>
						<dd><input type="number" name="public_posting_forum_id[{{ def.def_id }}]" value="{{ def.public_posting_forum_id }}" /></dd>
					</dl>

					<hr />
					<h4>{{ lang('CUSTOM_FIELDS') }}</h4>
					<p>{{ lang('CUSTOM_FIELDS_EXPLAIN') }}</p>

					<table class="table1" id="fields-table-{{ def.def_id }}">
						<thead>
							<tr>
								<th>{{ lang('FIELD_NAME') }}</th>
								<th>{{ lang('FIELD_DESC') }}</th>
								<th>{{ lang('DEFAULT_OPTIONS') }}</th>
								<th>{{ lang('TYPE') }}</th>
								<th>{{ lang('VARIABLE') }}</th>
								<th>{{ lang('ACTION') }}</th>
							</tr>
						</thead>
						<tbody>
							<!-- JS will populate this -->
						</tbody>
					</table>
					<p>
						<button type="button" class="button2" onclick="addFieldRow({{ def.def_id }});">{{ lang('ADD_FIELD') }}</button>
					</p>
					<input type="hidden" name="public_posting_fields_json[{{ def.def_id }}]" id="fields-json-{{ def.def_id }}" value="{{ def.public_posting_fields|e }}" />

					<hr />
					<h4>{{ lang('POST_TEMPLATE') }}</h4>
					<p>{{ lang('POST_TEMPLATE_EXPLAIN') }} <br />
						<code>{{ '{#' }}type}</code>, <code>{{ '{#' }}creator}</code>, <code>{{ '{#' }}date}</code>, <code>{{ '{#' }}target}</code> <br />
						{{ lang('CUSTOM_VARIABLES_EXPLAIN') }}
					</p>
					<dl>
						<dt><label>{{ lang('SUBJECT') }}</label></dt>
						<dd><input type="text" name="public_posting_subject_tpl[{{ def.def_id }}]" value="{{ def.public_posting_subject_tpl }}" style="width: 100%;" /></dd>
					</dl>
					<dl>
						<dt><label>{{ lang('BODY') }}</label></dt>
						<dd><textarea name="public_posting_body_tpl[{{ def.def_id }}]" rows="5" style="width: 100%;">{{ def.public_posting_body_tpl }}</textarea></dd>
					</dl>
					<p class="submit-buttons">
						<button type="submit" name="submit_config" class="button1" formaction="{{ U_ACTION }}&amp;action=update_one&amp;def_id={{ def.def_id }}">{{ lang('SUBMIT') }}</button>
					</p>
				</fieldset>
			</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ADD') }}</legend>
		<dl>
			<dt>{{ lang('ID') }}</dt>
			<dd><input type="text" name="new_id" placeholder="ID" /></dd>
		</dl>
		<dl>
			<dt>{{ lang('NAME') }}</dt>
			<dd><input type="text" name="new_name" placeholder="Name" /></dd>
		</dl>
		<dl>
			<dt>{{ lang('DESCRIPTION') }}</dt>
			<dd><textarea name="new_desc" rows="2" placeholder="Description"></textarea></dd>
		</dl>
		<dl>
			<dt>{{ lang('IMAGE') }}</dt>
			<dd><input type="text" name="new_img" placeholder="Image URL" /></dd>
		</dl>
		<dl>
			<dt>{{ lang('DIMENSIONS') }}</dt>
			<dd>
				W: <input type="text" name="new_w" value="150px" size="5" />
				H: <input type="text" name="new_h" value="150px" size="5" />
			</dd>
		</dl>
		<p class="submit-buttons">
			<input class="button1" type="submit" name="submit_config" value="{{ lang('ADD') }}" formaction="{{ U_ACTION }}&amp;action=add" />
		</p>
	</fieldset>
</div>

{{ S_FORM_TOKEN }}
</form>

<script>
(function() {
	var urlSettings = document.getElementById('booskit_awards_url_settings');
	var localSettings = document.getElementById('booskit_awards_local_settings');
	var radios = document.getElementsByName('booskit_awards_source');

	function updateVisibility() {
		var selected = '';
		for (var i = 0; i < radios.length; i++) {
			if (radios[i].checked) {
				selected = radios[i].value;
				break;
			}
		}

		if (selected === 'url') {
			urlSettings.style.display = 'block';
			localSettings.style.display = 'none';
		} else {
			urlSettings.style.display = 'none';
			localSettings.style.display = 'block';
		}
	}

	for (var i = 0; i < radios.length; i++) {
		radios[i].addEventListener('change', updateVisibility);
	}
	updateVisibility();
})();

// Awards Settings JS
var lang_delete = "{{ lang('DELETE') }}";

function toggleSettings(id) {
	var row = document.getElementById('settings-' + id);
	if (row.style.display === 'none') {
		row.style.display = 'table-row';
		initFieldsTable(id);
	} else {
		row.style.display = 'none';
	}
}

function initFieldsTable(id) {
	var tableBody = document.querySelector('#fields-table-' + id + ' tbody');
	if (tableBody.getAttribute('data-loaded')) return;

	var jsonInput = document.getElementById('fields-json-' + id);
	var data = [];
	try {
		if (jsonInput.value) data = JSON.parse(jsonInput.value);
	} catch (e) { console.error('Invalid JSON', e); }

	if (Array.isArray(data)) {
		data.forEach(function(field) {
			addFieldRow(id, field);
		});
	}

	tableBody.setAttribute('data-loaded', 'true');
}

function addFieldRow(id, fieldData) {
	var tableBody = document.querySelector('#fields-table-' + id + ' tbody');
	var row = document.createElement('tr');

	var name = fieldData ? fieldData.name : '';
	var desc = fieldData ? fieldData.description : '';
	var placeholder = fieldData ? fieldData.placeholder : '';
	var type = fieldData ? fieldData.type : 'text';
	var variable = fieldData ? fieldData.variable : 'var_' + Math.random().toString(36).substr(2, 5);

	row.innerHTML = '<td><input type="text" class="field-name" value="' + name + '" onchange="updateJson(' + id + ')" /></td>' +
		'<td><input type="text" class="field-desc" value="' + desc + '" onchange="updateJson(' + id + ')" /></td>' +
		'<td><input type="text" class="field-placeholder" value="' + placeholder + '" onchange="updateJson(' + id + ')" /></td>' +
		'<td><select class="field-type" onchange="updateJson(' + id + ')"><option value="text"' + (type === 'text' ? ' selected' : '') + '>Text</option><option value="textarea"' + (type === 'textarea' ? ' selected' : '') + '>Textarea</option><option value="dropdown"' + (type === 'dropdown' ? ' selected' : '') + '>Dropdown</option></select></td>' +
		'<td><input type="text" class="field-variable" value="' + variable + '" readonly /></td>' +
		'<td><button type="button" class="button2" onclick="removeFieldRow(this, ' + id + ')">' + lang_delete + '</button></td>';

	tableBody.appendChild(row);
	updateJson(id);
}

function removeFieldRow(btn, id) {
	var row = btn.closest('tr');
	row.remove();
	updateJson(id);
}

function updateJson(id) {
	var rows = document.querySelectorAll('#fields-table-' + id + ' tbody tr');
	var data = [];

	for (var i = 0; i < rows.length; i++) {
		var row = rows[i];
		data.push({
			name: row.querySelector('.field-name').value,
			description: row.querySelector('.field-desc').value,
			placeholder: row.querySelector('.field-placeholder').value,
			type: row.querySelector('.field-type').value,
			variable: row.querySelector('.field-variable').value
		});
	}

	document.getElementById('fields-json-' + id).value = JSON.stringify(data);
}
</script>

{% INCLUDE 'overall_footer.html' %}
